{% extends "base.html" %}

{% block content %}
<!-- this is where we rend album -->
<h1>All Albums</h1>

<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div>
    {% for album in albums %}
        <div class="card">
            {% if album.title %}
                <p><a href="{% url 'show_album' pk=album.pk %}">{{album.title}}</a></p>
                <p>{{album.artist}}</p>
                <img src={{album.cover_art}} alt="#">
                <!-- <p>{{album.created_at}}</p> -->

            {% endif %}

            <p>
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
                <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}

