<!-- {% extends "base.html" %}

{% block content %} -->
<!-- this is where we rend album -->
<!-- <h1>All Artists</h1>

<p><a href="{% url 'add_artist' %}">Add New Artist</a></p>

<div>
    {% for artist in artists %}
        <div class="card">
            {% if artist.artist_name %}
                <p>{{album.artist_name}}</p>

            {% endif %} -->

            <!-- <p>
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
                <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
            </p> -->
        <!-- </div>
    {% endfor %}
</div>
{% endblock %} -->

