{% extends "base.html" %}

{% block content %}
<!-- this is where we show details of the album -->
<h1>Album Details</h1>

<div>
        <div class="card">
                {% if album.title %}
                <p>{{album.title}}</p>
                <p>{{album.artist}}</p>
                <img src={{album.cover_art}} alt="#">
                <p>{{album.created_at}}</p> -->
            {% endif %}
            <p>
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
                <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
            </p>
        </div>
</div>
{% endblock %}

